/* -*- coding: utf-8 -*- */

.taskboard_placeholder {
    margin: auto;
    width: 92%;
    height: 100px;
    border: 1px dashed #996;
    background: #ffd;
    list-style: none;
}

/* board */
.taskboard {
    float: left;
    display: inline-block;
    zoom: 100%; /* for IE */
    margin: 1em auto;
    padding: 0;
    width: 100%;
    border-left: solid 2px gray;
}
.taskboard:after { /* clearfix */
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

/* lane */
.taskboard_lane {
    float: left;
    display: inline-block;
    margin: 0 auto;
    padding: 0 3px;
    height: 100%;
    border-right: solid 2px gray;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}

/* title of lane */
.taskboard_lane_status {
    margin: 0;
    padding: 0.5em;
    color: black;
    text-align: center;
}

/* sortable area */
.taskboard_tickets {
    margin: 0;
    padding: 0;
}

/* ticket */
.taskboard_ticket {
    list-style-type: none;
    margin: 5px auto;
    padding: 5px;
    width: 90%;
    border: solid 1px #996;
}

.taskboard_ticket h3 {
    margin: 0.3em;
    width: 99%;
    border-bottom: 1px solid black;
}
.taskboard_ticket h3 span {
    padding-left: 0.5em;
}
.taskboard_ticket h3 a {
    color: #b00;
    text-decoration: none;
    border: none;
}

.taskboard_ticket dl {
    margin: 0.3em;
    padding: 0.5em 0;
}
.taskboard_ticket dl dt {
    float: left;
    clear: left;
    min-width: 12em;
    padding: 0.2em 0;
    text-align: left;
    font-weight: bold;
}
.taskboard_ticket dl dt:after {
    content: ":";
}
.taskboard_ticket dl dd {
    margin: 0;
    padding: 0.2em 0;
    text-align: left;
    border-bottom: dashed 1px silver;
}
